@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 6.3vw;
    font-size: 2.5vw
}

.logo {
    height: 3.5vw;
    margin-left: 7vw;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8vw;
    margin-top: 7vw;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 2.5vw;
    margin-top: 1.5vw;
}

.photographer_section article .card__location {
    color: #901C1C;
    font-size: 0.9vw;
}

.photographer_section article .card__tagline {
    color: #000;
    font-size: 0.7vw;
}

.photographer_section article .card__price {
    color: #757575;
    font-size: 0.6vw;
}

.photographer_section .card__img{
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    overflow: hidden;
}

.photographer_section .card__avatar .card__img{
    display: block;
    object-fit: cover;
    justify-self: center;
}

.card,
.card:link,
.card:visited,
.card:hover,
.card:active {
    text-decoration: none;
}